body,
html {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	box-sizing: border-box;
	margin: 0;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 1.428571429;
	color: #333333;
	background-color: #ffffff;
}
a,
a:hover {
	text-decoration: none;
	text-transform: none;
	color: inherit;
}
.nav.nav-tabs.nav-justified {
	width: 90%;
	margin: auto;
}
.navbar {
	padding: 0px 15px;
}
.active.active-pro {
	width: 100%;
	text-align: center;
	margin-top: 5px;
}
.sidebar .nav li.active > a:hover {
	color: #495057;
	background-color: #fff;
	border-color: #dee2e6 #dee2e6 #fff;
}
h1,
h4 {
	font-weight: 400;
	margin: 30px 0 15px;
	color: white;
	text-align: center;
}

h1 {
	font-size: 52px;
}
h4 {
	font-size: 22px;
}
h5 {
	font-size: 16px;
	color: white;
	text-align: center;
}
.text-right {
	color: white;

	&:hover {
		color: lightgray;
	}
}
.buttons {
	display: flex;
	align-items: center;
	justify-content: center;
}
.btn {
	border-width: 2px;
	font-weight: 400;
	opacity: 0.8;
	padding: 8px 16px;
	border-color: #ff3b30;
	color: #ffffff;
	opacity: 1;
	background-color: #ff3b30;
	margin: 0 10px;

	&:hover {
		background-color: #ee2d20;
		border-color: #ee2d20;
		color: #ffffff;
		opacity: 1;
	}
}

.main {
	background-position: center center;
	background-size: cover;
	height: auto;
	left: 0;
	min-height: 100%;
	min-width: 100%;
	position: absolute;
	top: 0;
	width: auto;
	background-image: url('../../images/default.jpg');

	.logo {
		color: #ffffff;
		font-size: 56px;
		font-weight: 300;
		position: relative;
		text-align: center;
		text-shadow: 0 0 10px rgba(0, 0, 0, 0.33);
		margin-top: 50px;
		z-index: 3;
		font-family: 'Grand Hotel', cursive;
		font-size: 82px;
	}

	.content {
		position: relative;
		z-index: 4;
	}

	.motto {
		min-height: 140px;
	}

	.motto,
	.subscribe .info-text {
		font-size: 28px;
		color: #ffffff;
		text-shadow: 0 1px 4px rgba(0, 0, 0, 0.33);
		text-align: center;
		margin-top: 50px;
	}
	.subscribe .info-text {
		font-size: 18px;
		margin-bottom: 30px;
	}
}
.cover {
	position: fixed;
	opacity: 1;
	background-color: rgba(0, 0, 0, 0.6);
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 1;
}

@media (max-width: 768px) {
	.main .container {
		margin-bottom: 50px;
	}
}
