/* ANIMATION */

.con.sign-up-mode:before {
	transform: translate(100%, -50%);
	right: 52%;
}

.con.sign-up-mode .left-panel .image,
.con.sign-up-mode .left-panel .content {
	transform: translateX(-800px);
}

.con.sign-up-mode form.sign-up-form {
	opacity: 1;
	z-index: 2;
}

.con.sign-up-mode form.sign-in-form {
	opacity: 0;
	z-index: 1;
}

.con.sign-up-mode .right-panel .image,
.con.sign-up-mode .right-panel .content {
	transform: translateX(0%);
}

.con.sign-up-mode .left-panel {
	pointer-events: none;
}

.con.sign-up-mode .right-panel {
	pointer-events: all;
}

@media (min-width: $mediumScreen) {
	.con.sign-up-mode .signin-signup {
		left: 50%;
	}
}

@media (min-width: $largeScreen) {
	.con.sign-up-mode .signin-signup {
		left: 25%;
	}
}

@media (max-width: $mediumScreen) {
	.con.sign-up-mode:before {
		transform: translate(-50%, 100%);
		bottom: 32%;
		right: initial;
	}

	.con.sign-up-mode .left-panel .image,
	.con.sign-up-mode .left-panel .content {
		transform: translateY(-300px);
	}

	.con.sign-up-mode .right-panel .image,
	.con.sign-up-mode .right-panel .content {
		transform: translateY(0px);
	}

	.right-panel .image,
	.right-panel .content {
		transform: translateY(300px);
	}

	.con.sign-up-mode .signin-signup {
		top: 5%;
		transform: translate(-50%, 0);
	}
}

@media (max-width: $smallScreen) {
	.con.sign-up-mode .signin-signup {
		left: 50%;
	}
	.con.sign-up-mode:before {
		transform: translate(-50%, 100%);
		bottom: 45%;
		right: initial;
	}
}
