// Small devices (landscape phones)
$smallScreen: 576px;

// Medium devices (tablets)
$mediumScreen: 768px;

// Large  devices (desktops)
$largeScreen: 992px;

// Extra Large devices (Large desktops)
$extraLargeScreen: 1200px;
