.outer-container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background: $white;
	border-radius: 8px;
	height: 700px;
	// max-height: 50%;
	width: 95%;
	margin-right: 20px;
	a {
		text-transform: none;
		text-decoration: none;
	}
}

.chatForm {
	display: flex;
	border-top: 2px solid #d3d3d3;
	width: 100%;
	.input {
		width: 80%;
		input {
			border: none;
			border-radius: 0;
			padding: 5%;
			font-size: 1.2em;
		}
		input:focus,
		textarea:focus,
		select:focus {
			outline: none;
		}
	}

	.sendButton {
		width: 20%;
		button {
			color: #fff;
			text-transform: uppercase;
			background-color: #2979ff;
			padding: 20px;
			display: inline-block;
			border: none;
		}
	}
}

.messageText {
	width: 100%;
	letter-spacing: 0;
	font-size: 1.1em;
	word-wrap: break-word;
	img {
		vertical-align: middle;
	}
}
.messageContainer {
	display: flex;
	padding: 0 20px;
	margin-top: 5px;
	.date {
		font-size: 13px;
		color: #5f4d5f;
		float: right;
		font-weight: 700;
	}
	.messageBox {
		border-radius: 20px;
		// padding: 5px 20px;
		display: inline-block;
		max-width: 40%;
		word-wrap: break-word;
	}
	.admin {
		margin: auto;
		width: 100%;
		text-align: center;
		p {
			font-size: $smallFont;
			color: $gray;
		}
	}
}
.messages {
	padding: 10px 0;
	overflow: auto;
	flex: auto;
	height: 60%;
	background-color: white;
}
@media (min-width: 320px) and (max-width: 480px) {
	.outer-container {
		width: 100%;
		height: 100%;
	}
}

@media (min-width: 480px) and (max-width: 1200px) {
	.outer-container {
		width: 100%;
	}
}

.chat-container {
	width: 100%;
	overflow: hidden;
	.chats-div {
		padding-top: 20px;
		background: url('../img/bg.jpg');
		padding-right: 20px;
		width: 100%;
	}
}

.chat-lists {
	padding: 0 20px 0 30px;
	background-color: $white;
	form {
		padding: 0;
		margin-top: 20px;
		input,
		.form-control.focus-visible {
			background-color: $dark;
			border: none;
			border-color: $dark;
			box-shadow: none;
			color: $dark;
			&::placeholder {
				color: $dark;
				opacity: 1;
			}
		}
	}
}
.nav-tabs {
	margin: 20px 0;
	.nav-link.active {
		color: $white;
		background-color: $blue;
	}
	.nav-link {
		color: $blue;
		&:hover {
			background-color: $blue;
			color: $white;
		}
	}
}
