.infoBar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: #fff;
	border-bottom: 2px solid $gray;
	border-radius: 4px 4px 0 0;
	width: 100%;
	.recipientName {
		flex: 0.5;
		display: flex;
		align-items: center;
		margin-left: 5%;
		display: flex;
		p {
			color: $dark;
			font-size: $mediumFont;
			margin: 20px;
		}
		img {
			height: 35px;
			width: 35px;
			border-radius: 50%;
			margin-left: 20px;
			border: 1px solid $dark;
			margin: 20px 0;
    }
    .status{
      font-size: $smallFont;
      color: $gray;
    }
	}
}
