body,
html {
	height: 100%;
	width: 100%;
	overflow: hidden;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	background-color: $white;
	color: $dark;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: $smallFont;
	line-height: 1.428571429;
	font-family: 'Poppins', sans-serif;
	height: 100%;
}

a {
	text-transform: none;
	text-decoration: none;
	color: $blue;
	&:hover {
		color: $lightblue;
	}
}
::-webkit-scrollbar {
	width: 5px;
}
::-webkit-scrollbar-thumb {
	background: $dark;
	&:hover {
		background: $dark;
	}
}
