.users-list {
	height: 650px;
  overflow: auto;
  padding-bottom: 20px;
	img {
		height: 50px;
		width: 50px;
		border-radius: 50%;
		margin-top: 5px;
		margin-right: 10px;
		border: 1px solid $blue;
	}
	.list-group-item {
		background-color: $white;
		border-radius: 10px;
		text-decoration: none;
		text-transform: none;
		margin-top: 20px;
		display: flex;
		padding: 10px;
		border: none;
		color: $dark;
		&:hover {
			background-color: $blue;
			color: $white;
		}
		svg {
			font-size: 30px;
		}
		.bi.bi-dot.online {
			color: green;
		}
		.bi.bi-dot.offline {
			color: red;
		}
		p {
			margin: 2px;
		}
		.user-info {
			display: block;
			margin-top: 5px;
			.name {
				font-weight: 600;
			}
			span {
				font-size: 13px;
			}
		}
	}
	.list-group-item.active {
		background-color: $blue;
		color: $white;
	}
}
