.chat-container {
	width: 100%;
	overflow: hidden;
	.chats-div {
		padding-top: 20px;
		background: url('../img/bg.jpg');
		height: 100%;
		padding-right: 20px;
	}
}

.chat-lists {
	height: 100%;
	padding: 0 20px 0 30px;
	background-color: $dark-light;
	form {
		padding: 0;
		margin-top: 20px;
		input,
		.form-control.focus-visible {
			background-color: $dark;
			border: none;
			border-color: $dark;
			box-shadow: none;
			color: $light;
			&::placeholder {
				color: $light;
				opacity: 1;
			}
		}
	}
}
.nav-tabs {
	margin: 20px 0;
	.nav-link.active {
		color: $light;
		background-color: $dark;
	}
	.nav-link {
		color: $light;
		&:hover {
			background-color: $dark;
		}
	}
}
.users-list {
	height: 70vh;
	overflow: auto;
	img {
		height: 50px;
		width: 50px;
		border-radius: 50%;
		margin-top: 5px;
		margin-right: 10px;
		border: 1px solid $primary;
	}
	.list-group-item {
		background-color: $dark-primary;
		border-radius: 10px;
		text-decoration: none;
		text-transform: none;
		margin-top: 20px;
		display: flex;
		padding: 10px;
		border: none;
		p {
			margin: 2px;
		}
		.user-info {
			display: block;
			margin-top: 5px;
			.name {
				font-weight: 600;
				color: $light;
			}
			span {
				font-size: 13px;
				color: $primary;
				margin-left: 10px;
				color: $light;
			}
			.text {
				max-width: 250px;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
				color: $secondary;
				font-weight: 100;
				color: $light;
				font-size: 14px;
			}
		}
	}
	.list-group-item.active {
		background-color: $dark;
	}
}
