.nav-bar {
	background-color: $dark;
	padding: 10px 20px;
	justify-content: space-between;
	.app-header {
		margin-left: 10%;
		a {
			color: $light;
			text-decoration: none;
			text-transform: uppercase;
			&:hover {
				color: $main;
			}
		}
	}
	.nav-links {
		text-align: right;
	}
	.icons {
		display: flex;
		margin-right: 20px;
		div {
			display: flex;
			margin: 10px;
			svg {
				font-size: 23px;
				color: $light;
				cursor: pointer;
			}
			span {
				background: $dark;
				color: $light;
				border-radius: 50%;
				height: 20px;
				width: 20px;
				text-align: center;
				padding-top: 5px;
			}
		}

		img {
			height: 35px;
			width: 35px;
			border-radius: 50%;
			margin-top: 5px;
			margin-left: 20px;
			border: 1px solid $dark;
		}
	}
}
