$main: #fbfbfc;
$primary: #5995fd;
$secondary: #0f0a0a;
$primary-light: #4d84e2;
$secondary-light: #7e9062;
$dark: #000;
$light: #fff;
$dark-light: #111;
$dark-primary: #2f2f2f;

$small: 14px;
$medium: 25px;
$large: 40px;

$danger: #f00;
$success: #5995fd;
