.background-image {
	width: 300px;
	height: 300px;
	margin: auto;
}
.app-header {
	font-size: 30px;
	color: white;
	text-align: center;
	margin: 20px;
}
.card {
	background-color: transparent;
	border: none;
}
.card-title,
.card-text {
	color: white;
}
.card button {
	margin: 10px;
}
.form-label {
	color: white;
}
.links p {
	color: #007bff;
	float: right;
	cursor: pointer;
	margin: 10px;
}
.links p:hover {
	color: lightblue;
}

.title {
	text-align: center;
	color: white;
}
form i {
	cursor: pointer;
}
@media (min-width: 568px) and (max-width: 768px) {
	.background-image {
		width: 500px;
		height: 500px;
	}
	.app-header {
		font-size: 30px;
	}
}
@media (min-width: 768px) {
	.app-header {
		font-size: 50px;
		margin-top: 20px;
	}
}
@media (min-width: 992px) {
	.background-image {
		width: 400px;
		height: 400px;
		margin-left: 100px;
	}

	.container {
		margin-top: 5%;
	}
}

